
.author-footnote:after {
    z-index: 10;
    bottom: 0.3em;
    left: 20px;
    font-size: 14px;
    content: 'Prof. Dr. Walmes Zeviani · UFPR';
    color: white;
    position: absolute;
    height: 1em;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
:not(.title-slide).remark-slide-content {
    background-image: url(ufpr-fundo-16x9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title-slide.remark-slide-content {
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(0, 0, 0, 0.31)), url(ufpr-fundo-16x9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title-slide.remark-slide-content:after {
    content: "";
    position: absolute;
    top: 100px;
    left: 125px;
    height: 150px;
    width: 280px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(ufpr-transparent-600px.png);
}